.bigQuestion {
    font: bold 150% Verdana, Arial, sans-serif;
}
.question {
    font: italic 90% Verdana, Arial, sans-serif;
}

.addressType {
    font: bold 130% Verdana, Arial, sans-serif;
}

.address {
    font: bold 90% Verdana, Arial, sans-serif;
}